<a routerLink="">Back to List</a>
<div class="container">
    <!-- Image -->
    <img src="{{articles[nro2].image_url}}" alt="" class="imgCoverBeer">
    <!-- Name -->
    <h1 class="beerName mt-4">{{articles[nro2].name}}</h1>
    <!-- ID tag -->
    <!-- /// THIS IS A COMPONENT IN VUE, WITH PROPS -->
    <div class="d-flex flex-row justify-content-center">
        <div class="tagID mt-2 tagCommonStyle">
            <small>#{{articles[nro2].id}}</small>
        </div>
    </div>
    <!-- Tagline -->
    <h5 class="mt-3 beerTagline">{{articles[nro2].tagline}}</h5>
    <!-- Description -->
    <div class="mt-3 descriptionSmall">
        <p>{{articles[nro2].description}}</p>
    </div>
    <!-- Three data types -->
    <div *ngIf="articles[nro2].ibu != null, else notIBU">
        <div class="row mt-2 marginsContainer workSans">
            <div class="col-4 border-0 rounded bg-coral tac">
                <div><i class="bi bi-calendar-check"></i></div>
                <div><b>First brewed</b></div>
                <div>{{articles[nro2].first_brewed}}</div>
            </div>
            <div class="col-4 border-0 rounded bg-abv tac">
                <div><b>ABV</b></div>
                <div>{{articles[nro2].abv}}</div>
                <div><i class="bi bi-info-circle"></i></div>
            </div>
            <div class="col-4 border-0 rounded bg-ibu tac">
                <div><b>IBU</b></div>
                <div>{{articles[nro2].ibu}}</div>
                <div><i class="bi bi-info-circle"></i></div>
            </div>
        </div>
    </div>
    <ng-template #notIBU>
        <div class="row mt-2 marginsContainer workSans">
            <div class="col-6 border-0 rounded bg-coral tac">
                <div><i class="bi bi-calendar-check"></i></div>
                <div><b>First brewed</b></div>
                <div>{{articles[nro2].first_brewed}}</div>
            </div>
            <div class="col-6 border-0 rounded bg-abv tac">
                <div><b>ABV</b></div>
                <div>{{articles[nro2].abv}}</div>
                <div><i class="bi bi-info-circle"></i></div>
            </div>
        </div>
    </ng-template>
    <!-- Other data Accordion -->
    <div class="accordion mt-3 workSans" id="accordionOtherData">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOtherData">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOtherData" aria-expanded="false" aria-controls="collapseOtherData">
              Other data
            </button>
            </h2>
            <div id="collapseOtherData" class="accordion-collapse collapse" aria-labelledby="headingOtherData" data-bs-parent="#accordionOtherData">
                <div class="accordion-body text-start">
                    <div class="mb-1">target_fg: {{articles[nro2].target_fg}}</div>
                    <div class="mb-1">target_og: {{articles[nro2].target_og}}</div>
                    <div class="mb-1">ebc: {{articles[nro2].ebc}}</div>
                    <div class="mb-1">srm: {{articles[nro2].srm}}</div>
                    <div class="mb-1">ph: {{articles[nro2].ph}}</div>
                    <div class="mb-1">attenuation_level: {{articles[nro2].attenuation_level}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Volume & Boil Volume -->
    <!-- /// THIS IS A COMPONENT IN VUE, WITH PROPS -->
    <div class="row mt-3 workSans tac">
        <div class="col-6 border-0">
            <div><b>Volume</b></div>
            <div>{{articles[nro2].volume.value}} {{articles[nro2].volume.unit}}</div>
        </div>
        <div class="col-6 border-0">
            <div><b>Boil volume</b></div>
            <div>{{articles[nro2].boil_volume.value}} {{articles[nro2].boil_volume.unit}}</div>
        </div>
    </div>
    <!-- Method -->
    <div class="row mt-4 workSans tac">
        <h5 class="workSansB">Method</h5>
        <!-- mash temp -->
        <!-- /// THIS IS A COMPONENT IN VUE, WITH PROPS -->
        <div class="col-6">
            <div><b>mash_temp</b></div>
            <div>T: {{articles[nro2].method.mash_temp[0].temp.value}} {{articles[nro2].method.mash_temp[0].temp.unit}}</div>
            <!-- Duration, only shown if does not return null -->
            <div *ngIf="articles[nro2].method.mash_temp[0].duration == null, else durationNotNull"></div>
            <ng-template #durationNotNull>
                <div>duration: {{articles[nro2].method.mash_temp[0].duration}}</div>
            </ng-template>
        </div>
        <!-- fermentation -->
        <!-- /// THIS IS A COMPONENT IN VUE, WITH PROPS -->
        <div class="col-6">
            <div><b>fermentation</b></div>
            <div>T: {{articles[nro2].method.fermentation.temp.value}} {{articles[nro2].method.fermentation.temp.unit}}</div>
        </div>
        <!-- Twist, only shown if does not return null -->
        <div *ngIf="articles[nro2].method.twist == null, else twistNotNull"></div>
        <ng-template #twistNotNull>
            <div class="mt-2 border-0 bg-twist">twist: {{articles[nro2].method.twist}}</div>
        </ng-template>
    </div>
    <!-- Ingredients -->
    <div class="mt-4">
        <h4 class="workSansB tac">Ingredients</h4>
        <!-- Malt -->
        <h5 class="mt-3 mb-3 workSansL bg-malt tac">Malt</h5>
        <div *ngFor="let maltObject of articles[nro2].ingredients.malt" class="mt-2 row workSans marginContainer">
            <p>{{maltObject.name}}</p>
            <p>{{maltObject.amount.value}} {{maltObject.amount.unit}}</p>
        </div>
        <!-- Hops -->
        <h5 class="mt-3 mb-3 workSansL bg-hops tac">Hops</h5>
        <div *ngFor="let hopsObject of articles[nro2].ingredients.hops" class="mt-2 row workSans marginsContainer">
            <div class="col-7">
                <b>{{hopsObject.name}}</b>
            </div>
            <div class="col-5">
                <b>{{hopsObject.amount.value}} {{hopsObject.amount.unit}}</b>
            </div>
            <div class="workSansL2">
                {{hopsObject.add}}, {{hopsObject.attribute}}
            </div>
        </div>
        <!-- Yeast -->
        <h5 class="mt-3 mb-3 workSansL bg-yeast tac">Yeast</h5>
        <div class="tac workSans">{{articles[nro2].ingredients.yeast}}</div>
    </div>
    <!-- Food pairing -->
    <div class="mt-2">
        <h5 class="mt-4 mb-4 workSansB tac">Food pairing</h5>
        <!-- Card carousel -->
        <div class="row flex-row flex-nowrap marginsContainer" style="overflow-x: auto;">
            <div *ngFor="let foodPair of articles[nro2].food_pairing">
                <div class="card cardFood">
                    <img src="/assets/img/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title beerTagline">{{foodPair}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brewers tips -->
    <div class="mt-2 mb-4">
        <h5 class="mt-4 mb-4 workSansB">Brewers tips</h5>
        <div class="row">
            <div class="col-2">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="col-10 descriptionSmall">
                <p>{{articles[nro2].brewers_tips}}</p>
                <small class="beerTagline">{{articles[nro2].contributed_by}}</small>
            </div>
        </div>
    </div>
</div>